In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

FILE_CATEGORY_TREE = '../data/category_tree.csv'
FILE_EVENTS = '../data/events.csv'
FILE_ITEM_PROPERTIES_1 = '../data/item_properties_part1.csv'
FILE_ITEM_PROPERTIES_2 = '../data/item_properties_part2.csv'
FILE_ITEM_PROPERTIES_ALL = '../data/item_properties_all.csv'

pd.set_option('mode.chained_assignment',None)

### Original EDA analysis

``` python
category_tree = pd.read_csv(FILE_CATEGORY_TREE)

category_tree.head()

category_tree.shape

category_tree[category_tree.parentid.isnull()].sort_values('categoryid')

def find_root(x, df):
    while True: 
        if np.isnan(df.loc[df.categoryid == x, 'parentid'].unique()[0]):
            return x
        else:
            x = df.loc[df.categoryid == x, 'parentid'].unique()[0]

l = []
for c in category_tree.categoryid:
    l.append(find_root(c,category_tree))

category_tree = pd.concat([category_tree,pd.Series(l,name='top_parent')],axis=1)

top_parent_summary = category_tree.groupby('top_parent')['categoryid'].count().reset_index()
top_parent_summary.rename(columns = {'categoryid':'num_categories'}, inplace=True)
top_parent_summary.sort_values('num_categories',ascending=False)

top_parent_summary.shape

25 top-level categories 

events = pd.read_csv(FILE_EVENTS)

events.head()

events.describe(include='all')

events.info()

events.event.value_counts()

events.itemid.unique().shape

235,061 products view/addtocart/transcation

def convert_to_local(x):
    return datetime.fromtimestamp(x/1000)

events['local_date_time'] = events.timestamp.apply(convert_to_local)

events[events.visitorid == 1150086].sort_values('local_date_time').head(10)

events.sort_values(['visitorid','local_date_time'], inplace=True)
events['time_diff'] = events.groupby('visitorid')['timestamp'].diff(periods=-1) *-1

events.time_diff = events.time_diff / 1000 # convert from milliseconds to seconds

events.groupby('visitorid')['time_diff'].agg(['mean','count']).reset_index().sort_values('count', ascending=False).head()

events[events.visitorid == 280150].sort_values('local_date_time').head(10)

events.agg({'local_date_time':['min','max']})

item_properties = pd.read_csv(FILE_ITEM_PROPERTIES_1)

item_properties['local_date_time'] = item_properties.timestamp.apply(convert_to_local)

item_properties[item_properties.itemid.isin([133542])].sort_values('timestamp')

item_properties_2 = pd.read_csv(FILE_ITEM_PROPERTIES_2)

item_properties_2['local_date_time'] = item_properties_2.timestamp.apply(convert_to_local)

item_properties_2[item_properties_2.itemid.isin([133542])].sort_values('timestamp')

item_properties_master = item_properties.append(item_properties_2)

item_properties_master[item_properties_master.itemid.isin([133542])].sort_values(['property','local_date_time'])

item_properties_master[item_properties_master.itemid.isin([167873])].sort_values(['property','local_date_time'])

item_property_unique = item_properties_master.loc[:,['itemid','property']].drop_duplicates()

property_count = item_property_unique.groupby('property')['itemid'].count().sort_values(ascending=False).reset_index()

property_count[property_count.itemid == 417053]

Above properties are represented of all items. Let's see what the unique values are for these properties.

item_properties_master.loc[item_properties_master.property == '364','value'].value_counts().sort_values(ascending=False).reset_index().head(10)

item_properties_master[item_properties_master.value.str.contains(r'[^\s]')]
```

### New EDA Analysis

In [2]:
events = pd.read_csv('../data/events_enhanced.csv')
events.local_date_time = pd.to_datetime(events.local_date_time)

# set a row number primary key
# events['pk'] = events.index

In [ ]:
category_tree = pd.read_csv('../data/category_tree_parent.csv')

In [ ]:
item_properties_master = pd.read_csv('../data/item_properties_master.csv')
item_properties_master.local_date_time = pd.to_datetime(item_properties_master.local_date_time)

### Reduce data set size and begin to build MVP feature set

|visitorid|counts|
---|---|
|152963 |    2054
|994820  |   1661
|1150086  |  1524
|247235    | 1425
|645525     |1411
|79627      |1180
|530559     |1091
|737053     |1055

## Feature building

1. Calcualte session id for the events
2. Calcualte number of views in each session
3. Calcualte total session length
4. (WIP) Build design matrix

### Calculate Session ID

In [14]:
def calc_session_id(df, mask):
    df['session_id'] = np.nan
    ind = df.groupby('visitorid').head(1).index
    df.loc[ind, 'session_id'] = 1

    # sub = (events_trimmed.event == 'view') & (events_trimmed.prev_event == 'transaction')
    count_session = df[mask].shape[0] + 1
    df.loc[mask, 'session_id'] = np.arange(2,count_session+1)

    # fill in all of the gaps
    df.session_id.fillna(method = 'ffill', inplace=True)

    # make the session id unique
    df.session_id = df.visitorid.astype(str) + '_' + df.session_id.astype(int).astype(str)
    
    return df

In [37]:
# reduce data set size for MVP
events_trimmed = events[events.local_date_time >= datetime(2015, 8, 15)]

# first calcualte sessions for each buy transaction
events_trimmed.sort_values('local_date_time')
events_trimmed['prev_event'] = events_trimmed.groupby('visitorid').event.shift(1)
sub = (events_trimmed.event == 'view') & (events_trimmed.prev_event == 'transaction')
events_trimmed = calc_session_id(events_trimmed, sub)

# calcualte the time diff within each session
events_trimmed.sort_values(['session_id', 'local_date_time'], inplace = True)
events_trimmed.time_diff = events_trimmed.groupby('session_id')['timestamp'].diff(1)# * -1
events_trimmed.time_diff = events_trimmed.time_diff / 1000
events_trimmed['page_length'] = events_trimmed.groupby('visitorid').time_diff.shift(-1)

# re-calaculate sessions with a new session starting whenever a buy occurs or if a view lasts longer than 3.5 minutes
session_time_limit = 210 ## Should consider building a time limit per user, instead of global

sub = (((events_trimmed.event == 'view') 
       & (events_trimmed.prev_event == 'transaction'))
      | ((events_trimmed.event == 'view')
        & (events_trimmed.time_diff > session_time_limit)))

events_trimmed = calc_session_id(events_trimmed, sub)

## Calcualte total views per session

In [38]:
view_counts_df = (events_trimmed[events_trimmed.event == 'view']
                     .groupby('session_id')['event']
                     .count()
                     .reset_index())
view_counts_df.rename(columns = {'event':'view_count'}, inplace=True)

## Calcualte total session length per session

In [44]:
session_length_df = (events_trimmed
                        .groupby('session_id')['page_length']
                        .agg(['sum','mean'])
                        .reset_index())
session_length_df.rename(columns = {'sum':'session_length','mean':'avg_len_per_pg'}, inplace=True)

## Build Design Matrix

In [48]:
session_length_df.index = session_length_df.session_id
view_counts_df.index = view_counts_df.session_id

In [58]:
features = pd.concat([view_counts_df, session_length_df], sort=False)

In [60]:
features[features.session_id == '0_1']

           session_id  view_count  session_length  avg_len_per_pg
session_id
0_1               0_1         3.0             NaN             NaN
0_1               0_1         NaN         327.736         163.868

In [ ]:
property_df = item_properties_master[item_properties_master.property == 'categoryid']
property_df.head()

In [ ]:
events_trimmed.sort_values('local_date_time', inplace=True)
property_df.sort_values('local_date_time', inplace=True)

print(f'events_trimmed rows: {events_trimmed.shape[0]:,}')
events_trimmed_property = pd.merge_asof(events_trimmed, property_df, on="local_date_time", by="itemid") 
print(f'merged rows: {events_trimmed_property.shape[0]:,}')

In [ ]:
events_trimmed_property.dropna(subset=['value']).shape

In [ ]:
## Make this into a function so I can get any property
def set_item_property(property_master_df, feature_df, prop, property_name ):
    # filter down to the property
    property_df = property_master_df[property_master_df.property == prop]

    # get all property rows for each item in the feature data set
    merge_event_property_df = feature_df.merge(property_df, how='left',on='itemid')
    print(f'Rows when left join {merge_event_property_df.shape[0]:,}')

    merge_event_property_df = feature_df.merge(property_df, how='inner',on='itemid')
    print(f'Rows when inner join {merge_event_property_df.shape[0]:,}')

    print('Using inner join for now, and will come back later.')

    # remove all rows where the property was updated after the event timestamp
    print(f'Nuber of items: {len(merge_event_property_df.itemid.)}')
    merge_event_property_df = (merge_event_property_df[merge_event_property_df.local_date_time_x 
                                                       > merge_event_property_df.local_date_time_y])

    property_max_date_time = (merge_event_property_df
                              .groupby(['local_date_time_x','itemid','session_id'])['local_date_time_y']
                              .max()
                              .reset_index())
    
    merge_event_property_df = (merge_event_property_df
                               .merge(property_max_date_time
                                      , how='inner'
                                      , on=['local_date_time_x','itemid','session_id','local_date_time_y']))
    print(f'Rows when inner join {merge_event_property_df.shape[0]:,}')

    # clean up the df
    drop_c = ['timestamp_y', 'property', 'local_date_time_y']
    merge_event_property_df.drop(columns=drop_c, inplace=True)

    rename_c = {'timestamp_x':'timestamp', 'local_date_time_x':'local_date_time','value':property_name}
    merge_event_property_df.rename(columns=rename_c, inplace=True)

    return merge_event_property_df, property_max_date_time

In [16]:

events_trimmed[events_trimmed.visitorid == 152963]
# print(events_trimmed[(events_trimmed.visitorid == 152963) & (events_trimmed.time_diff > 210)].shape)

,timestamp,visitorid,event,itemid,transactionid,local_date_time,time_diff,prev_event,session_id
298127,1439910687127,152963,view,415818,NaN,2015-08-18 08:11:27.127,NaN,NaN,152963_1
298128,1439912030993,152963,view,464837,NaN,2015-08-18 08:33:50.993,1343.866,view,152963_35540
298129,1439914858503,152963,view,176323,NaN,2015-08-18 09:20:58.503,2827.510,view,152963_35541
298130,1439914887691,152963,addtocart,176323,NaN,2015-08-18 09:21:27.691,29.188,view,152963_35541
298131,1439915042329,152963,transaction,176323,8242.0,2015-08-18 09:24:02.329,154.638,addtocart,152963_35541
298132,1439915077716,152963,view,176323,NaN,2015-08-18 09:24:37.716,NaN,transaction,152963_35542
298133,1439917397902,152963,view,458109,NaN,2015-08-18 10:03:17.902,2320.186,view,152963_35543
298134,1439917422591,152963,addtocart,458109,NaN,2015-08-18 10:03:42.591,24.689,view,152963_35543
298135,1439917499018,152963,transaction,458109,15045.0,2015-08-18 10:04:59.018,76.427,addtocart,152963_35543
298136,1439917540599,152963,view,406714,NaN,2015-08-18 10:05:40.599,NaN,transaction,152963_35544
298137,1439917587895,152963,view,404640,NaN,2015-08-18 10:06:27.895,47.296,view,152963_35544
298138,1439919857677,152963,view,43830,NaN,2015-08-18 10:44:17.677,2269.782,view,152963_35545
298139,1439919870824,152963,addtocart,43830,NaN,2015-08-18 10:44:30.824,13.147,view,152963_35545
298140,1439919939747,152963,view,43830,NaN,2015-08-18 10:45:39.747,68.923,addtocart,152963_35545
298141,1439920054676,152963,view,335116,NaN,2015-08-18 10:47:34.676,114.929,view,152963_35545
298142,1439921194262,152963,view,375959,NaN,2015-08-18 11:06:34.262,1139.586,view,152963_35546
298143,1439921411462,152963,view,122931,NaN,2015-08-18 11:10:11.462,217.200,view,152963_35547
298144,1439921447143,152963,addtocart,122931,NaN,2015-08-18 11:10:47.143,35.681,view,152963_35547
298145,1439921565043,152963,transaction,122931,11017.0,2015-08-18 11:12:45.043,117.900,addtocart,152963_35547
298146,1439921869903,152963,view,9877,NaN,2015-08-18 11:17:49.903,NaN,transaction,152963_35548
298147,1439921884566,152963,addtocart,9877,NaN,2015-08-18 11:18:04.566,14.663,view,152963_35548
298148,1439921960859,152963,transaction,9877,16112.0,2015-08-18 11:19:20.859,76.293,addtocart,152963_35548
298149,1439922643809,152963,view,118914,NaN,2015-08-18 11:30:43.809,NaN,transaction,152963_35549
298150,1439924833246,152963,view,347226,NaN,2015-08-18 12:07:13.246,2189.437,view,152963_35550
298151,1439924938617,152963,view,308648,NaN,2015-08-18 12:08:58.617,105.371,view,152963_35550
298152,1439925086238,152963,view,308648,NaN,2015-08-18 12:11:26.238,147.621,view,152963_35550
298153,1439925099227,152963,addtocart,308648,NaN,2015-08-18 12:11:39.227,12.989,view,152963_35550
298154,1439925151562,152963,transaction,308648,14512.0,2015-08-18 12:12:31.562,52.335,addtocart,152963_35550
298155,1439925168664,152963,view,308648,NaN,2015-08-18 12:12:48.664,NaN,transaction,152963_35551
298156,1439925401652,152963,view,152120,NaN,2015-08-18 12:16:41.652,232.988,view,152963_35552
...,...,...,...,...,...,...,...,...,...
300151,1442529943916,152963,view,442447,NaN,2015-09-17 15:45:43.916,1110.805,view,152963_36344
300152,1442535386086,152963,view,146615,NaN,2015-09-17 17:16:26.086,5442.170,view,152963_36345
300153,1442535753792,152963,view,286861,NaN,2015-09-17 17:22:33.792,367.706,view,152963_36346
300154,1442536905727,152963,view,346892,NaN,2015-09-17 17:41:45.727,1151.935,view,152963_36347
300155,1442536967349,152963,view,302559,NaN,2015-09-17 17:42:47.349,61.622,view,152963_36347
300156,1442536971416,152963,addtocart,302559,NaN,2015-09-17 17:42:51.416,4.067,view,152963_36347
300157,1442537103196,152963,transaction,302559,2553.0,2015-09-17 17:45:03.196,131.780,addtocart,152963_36347
300158,1442541856652,152963,view,380196,NaN,2015-09-17 19:04:16.652,NaN,transaction,152963_36348
300159,1442541883239,152963,view,122984,NaN,2015-09-17 19:04:43.239,26.587,view,152963_36348
300160,1442541893932,152963,view,380196,NaN,2015-09-17 19:04:53.932,10.693,view,152963_36348
300161,1442541913082,152963,view,122984,NaN,2015-09-17 19:05:13.082,19.150,view,152963_36348
300162,1442541921948,152963,view,380196,NaN,2015-09-17 19:05:21.948,8.866,view,152963_36348
300163,1442541934328,152963,addtocart,380196,NaN,2015-09-17 19:05:34.328,12.380,view,152963_36348
300164,1442542096481,152963,transaction,122984,5772.0,2015-09-17 19:08:16.481,162.153,addtocart,152963_36348
300165,1442542096481,152963,transaction,334401,5772.0,2015-09-17 19:08:16.481,0.000,transaction,152963_36348
300166,1442542096512,152963,transaction,72462,5772.0,2015-09-17 19:08:16.512,0.031,transaction,152963_36348
300167,1442542096512,152963,transaction,12504,5772.0,2015-09-17 19:08:16.512,0.000,transaction,152963_36348
300168,1442542096528,152963,transaction,380196,5772.0,2015-09-17 19:08:16.528,0.016,transaction,152963_36348
300169,1442542358808,152963,view,342659,NaN,2015-09-17 19:12:38.808,NaN,transaction,152963_36349
300170,1442543661089,152963,view,366177,NaN,2015-09-17 19:34:21.089,1302.281,view,152963_36350
300171,1442543707833,152963,view,362697,NaN,2015-09-17 19:35:07.833,46.744,view,152963_36350
300172,1442543794013,152963,addtocart,362697,NaN,2015-09-17 19:36:34.013,86.180,view,152963_36350
300173,1442543898098,152963,transaction,362697,5670.0,2015-09-17 19:38:18.098,104.085,addtocart,152963_36350
300174,1442544044973,152963,view,21970,NaN,2015-09-17 19:40:44.973,NaN,transaction,152963_36351
300175,1442544102108,152963,addtocart,21970,NaN,2015-09-17 19:41:42.108,57.135,view,152963_36351
300176,1442544192017,152963,transaction,21970,8904.0,2015-09-17 19:43:12.017,89.909,addtocart,152963_36351
300177,1442544216329,152963,view,21970,NaN,2015-09-17 19:43:36.329,NaN,transaction,152963_36352
300178,1442544483164,152963,view,311082,NaN,2015-09-17 19:48:03.164,266.835,view,152963_36353
300179,1442544492421,152963,view,311082,NaN,2015-09-17 19:48:12.421,9.257,view,152963_36353
300180,1442544526605,152963,view,134455,NaN,2015-09-17 19:48:46.605,34.184,view,152963_36353

In [ ]:
210 / 60

In [ ]:
events_trimmed.time_diff.describe()

In [ ]:
events_trimmed = events[events.local_date_time >= datetime(2015, 8, 15)]

print(f'Trimmed events {events_trimmed.shape[0]:,}')
print()

print(f'Count of events: \n{events_trimmed.event.value_counts()}')
print()
# unique visitors
print(f'Visitors that bought something {events_trimmed[events_trimmed.event == "transaction"].visitorid.unique().shape[0]:,}')
print()

###### Probably remove this as we want to look at buy vs not buy

# # all visitors where at least one session ended in a transaction
# visitors = events_trimmed[events_trimmed.event == 'transaction'].visitorid.unique()
# print(f'Events for visitors who bought something {events_trimmed[events_trimmed.visitorid.isin(visitors)].shape[0]:,}')
# buy_visitors = events_trimmed[events_trimmed.visitorid.isin(visitors)]

######

# calculate the session_id
# session_id identifes each pattern of view...transaction for each visitor as unique
l = []
for v in events_trimmed.visitorid.unique():
    v_df = events_trimmed[events_trimmed.visitorid == v].sort_values('local_date_time')
    prev_event = 'view'
    session_id = 1
    for i in v_df.index:
        if prev_event == 'transaction' and v_df.loc[i,'event'] != 'transaction':
            session_id += 1

        prev_event = v_df.loc[i,'event']
        l.append(session_id)

# assign each session_id and make it unique
events_trimmed['session_id'] = l
events_trimmed.session_id = events_trimmed.visitorid.astype('str') + '_' + events_trimmed.session_id.astype('str')

###### Probably remove this as we want to look at buy vs not buy

# # group by session_id and remove those sessions without a transaction
# grouped_events = buy_visitors.groupby(['session_id','event'])['visitorid'].count().reset_index()
# valid_sessions = grouped_events[grouped_events.event == 'transaction'].session_id
# buy_visitors = buy_visitors[buy_visitors.session_id.isin(valid_sessions)]

# print()
# print(f'Sessions that have at least one transaction {buy_visitors.shape[0]:,}')

######

# calcaulte session length feature
events_trimmed.time_diff = events_trimmed.time_diff.shift(1)
events_trimmed.rename(columns={'time_diff':'session_length'}, inplace=True)

# calculate hour of day and day of week
events_trimmed['session_hour'] = events_trimmed.local_date_time.dt.hour
events_trimmed['session_dow'] = events_trimmed.local_date_time.dt.dayofweek

# set the category id property
# print()
# print('Adding category')
# buy_visitors, _ = set_item_property(item_properties_master, buy_visitors, 'categoryid', 'category_id' )
# print(f'Updated shape of the feature DF {buy_visitors.shape[0]:,}')

# set the available property
# print()
# print('Adding available')
# buy_visitors, property_group_df = set_item_property(item_properties_master, buy_visitors, 'available', 'available' )
# print(f'Updated shape of the feature DF {buy_visitors.shape[0]:,}')

In [ ]:
buy_visitors_category.head()

In [ ]:
# buy_visitors.timestamp.value_counts().head()
buy_visitors[buy_visitors.timestamp == '143991494102']

In [ ]:
from itertools import chain, combinations

def key_options(items):
    return chain.from_iterable(combinations(items, r) for r in range(1, len(items)+1) )

df = buy_visitors

# iterate over all combos of headings, excluding ID for brevity
for candidate in key_options(list(df)):
    deduped = df.drop_duplicates(candidate)

    if len(deduped.index) == len(df.index): #and len(deduped.index) <= 4:
        print(','.join(candidate))

In [ ]:
buy_visitors_category.merge(buy_visitors_category_avail, how='left', on=['timestamp', 'visitorid','itemid','event']).shape

In [ ]:
property_group_df.head()

In [ ]:
(buy_visitors
    .merge(property_group_df
              , how='inner'
              , on=['local_date_time_x','itemid','session_id','local_date_time_y']))

In [ ]:
item_properties_master.property.value_counts()
# TODO Available and then figure out the t-1 thing.
# Thinking of adding a feature to start with transaction and count backwards within each session ordered by time