In [1]:
import data_transformation
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# data_transformation.SESSION_TIME_LIMIT = 30
events_trimmed, item_p = data_transformation.load()

Total number of events: 2,756,101

Total number of trimmed events: 297,917

In [4]:
def add_item_property(events_df, property_df, p_name):
    
    events_df.sort_values('local_date_time', inplace=True)
    property_df.sort_values('local_date_time', inplace=True)

    events_df = pd.merge_asof(events_df, property_df[property_df.property == p_name], 
                                   on='local_date_time',
                                   by='itemid')

    events_df = events_df.rename(columns={
                                                        'timestamp_x': 'timestamp',
                                                        'value': p_name
                                                    })

    events_df = events_df.drop(columns=['timestamp_y', 'property'])
    
    return events_df

In [5]:
print(events_trimmed.shape)
events_trimmed = add_item_property(events_trimmed, item_p, 'categoryid')
events_trimmed = add_item_property(events_trimmed, item_p, 'available')
print(events_trimmed.shape)
events_trimmed.head()

(297917, 9)
(297917, 11)

,timestamp,visitorid,event,itemid,transactionid,local_date_time,minutes_since_prev_event,session_id,seq,categoryid,available
0,1441090806954,230847,view,104544,NaN,2015-09-01 00:00:06.954,0.0,230847_1,1.0,1642,0
1,1441090813080,1316340,view,126126,NaN,2015-09-01 00:00:13.080,0.0,1316340_1,1.0,646,0
2,1441090816594,1282520,view,226245,NaN,2015-09-01 00:00:16.594,0.0,1282520_1,1.0,479,1
3,1441090822265,1309256,view,365703,NaN,2015-09-01 00:00:22.265,0.0,1309256_1,1.0,589,1
4,1441090832644,217790,view,54147,NaN,2015-09-01 00:00:32.644,0.0,217790_1,1.0,65,0

In [ ]:
cat_event[cat_event['value'].isnull()]

In [ ]:
events_trimmed.shape

In [ ]:
item_counts = item_p[(item_p.property == 'categoryid')].itemid.value_counts().reset_index()
item_f = item_counts[item_counts.itemid > 1].loc[:,'index'].unique()
cat_event[cat_event.itemid.isin(item_f)].head()

In [ ]:
item_p[(item_p.itemid == 20299) & (item_p.property == 'categoryid')]

In [ ]:
cat_event[cat_event.itemid == 20299]

In [ ]:
df = events_trimmed[events_trimmed.visitorid == 152963]
df[df.seq == 1].minutes_since_prev_event.describe()

In [ ]:
observations, prior_observations = data_transformation.create_observations(events_trimmed, 2)

In [ ]:
observations.head()

In [ ]:
prior_observations.head()