In [1]:
import data_transformation

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# data_transformation.SESSION_TIME_LIMIT = 30
events_trimmed = data_transformation.load()

Total number of events: 2,756,101

Total number of trimmed events: 297,917

In [4]:
df = events_trimmed[events_trimmed.visitorid == 152963]
df[df.seq == 1].minutes_since_prev_event.describe()

count    67.000000
mean      2.962871
std       3.913693
min       0.000000
25%       0.673642
50%       1.438217
75%       2.965592
max      19.245217
Name: minutes_since_prev_event, dtype: float64

In [10]:
observations, prior_observations = data_transformation.create_observations(events_trimmed, 2)

In [13]:
observations.head()

       session_id  seq  buy_event
29  1000194_19426  2.0          0
33  1000222_19427  2.0          0
40  1000253_19428  2.0          0
43  1000265_19429  2.0          0
50  1000306_19430  2.0          0

In [12]:
prior_observations.head()

  session_id  seq  buy_event
0        0_1  1.0          0
1  1000008_1  1.0          0
2   100000_1  1.0          0
3  1000025_1  1.0          0
4  1000030_1  1.0          1